/* ---------------------------
  [1] 記事フッターの著者名・日時の削除
  [2] 記事内の中見出し(h2,h3)の装飾
  [3] フォント設定
  [4] タイトル・見出しの余分な装飾削除
  [5] BIO装飾
  [6] ソーシャルボタン
   --------------------------- */

/* **************************
  [1] 記事フッターの著者名・日時の削除
************************** */
.entry-footer-section {
  display:none;
}

/* **************************
  [2] 記事内の中見出し(h2,h3)の装飾
************************** */
.entry-content h2 {
  padding: 8px 0 8px 12px;
  border-left: 4px solid #161410;
  background-color: #f0f0f0;
  margin: 56px 0 40px 0;
  line-height: 1.5;
  font-size: 2.0rem;
  color: #000c15;
}
.entry-content h3 {
  padding: 6px 0;
  border-bottom: 2px solid #161410;
  margin: 48px 0 32px 0;
  line-height: 1.5;
  font-size: 2.0rem;
  color: #000c15;
}

/* **************************
  [3] フォント設定
************************** */
body {
  font-family: -apple-system, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  color: #303030;
}

/* **************************
  [4] タイトル・見出しの余分な装飾削除
************************** */
.entry-title::before {
  width: 0px;
}
.entry-content h2::before {
  width: 0px;
}
.header-description::before {
  width: 0px;
}

/* **************************
  [5] BIO装飾
************************** */
.author-profile {
  padding: 16px;
  border: 4px solid #e2e5e8;
}

.author-profile h3 {
  margin: 0 0 16px 0;
  padding: 4px 0 4px 8px;
  border-left: 4px solid #e2e5e8;
}

.author-profile-content:after {
  display: block;
  clear: both;
  content: "";
}

.author-profile-text {
  float: left;
  width: 350px;
  margin-left: 25px;
}

.author-profile-text h4 {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

.author-profile-text p {
  margin: 8px 0;
  font-size: 14px;
  font-size: 1.4rem;
}

.author-sns li {
  display: inline-block;
  margin-right: 4px;
  padding: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.avatar {
  float: left;
}

.avatar img {
  border: 1px solid #e2e5e8;
  border-radius: 50%;
}

/* **************************
  [6] ソーシャルボタン
************************** */

/* .share-button {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.share-button ul {
  margin: 0;
  padding: 0;
}
.share-button ul li {
  float: left;
  font-size: 250%;
  list-style: none;
  text-align: center;
  width: 33%;
}
.share-button ul li a:hover {
  opacity: 0.5;
}
.blogicon-bookmark {
  color: #00a4de;
}
.blogicon-twitter {
  color: #55acee;
}
.blogicon-facebook {
  color: #3b5999;
} */

/* ======================================
    2017/10/17 N.Y 新規作成
    2017/XX/XX X.X ○○追加・・・
======================================== */
