.entry-footer-section {
  display:none;
}
.entry-content h2 {
  padding: 8px 0 8px 12px;
  border-left: 4px solid #161410;
  background-color: #f0f0f0;
  margin: 56px 0 40px 0;
  line-height: 1.5;
  font-size: 2.0rem;
  color: #000c15;
}
.entry-content h3 {
  padding: 6px 0;
  border-bottom: 2px solid #161410;
  margin: 48px 0 32px 0;
  line-height: 1.5;
  font-size: 2.0rem;
  color: #000c15;
}
body {
  font-family: -apple-system, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  color: #303030;
}
.entry-title::before {
  width: 0px;
}
